@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";


.containerPopup {
  width: 600px;
  height: 40px;
  border-radius: 16px;
  background: $modal-backdrop;
  position: fixed;
  bottom: -40px;
  z-index: 20;
  transition: $transition-header;
  @include flex-center;
  color: $background-complex;
  font-family: $flaviotte-bold;
  font-size: $font-size-l;
  opacity: 0;
}

.active {
  transform: translateY(-60px);
  opacity: 1;
}