@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.btnWrapper {
  width: 100px;
  height: auto;
  position: relative;
  padding-left: 10px;
}

.round {
  width: 30px;
  height: 30px;
  background-image: $bg-purple-gradient;
  border-radius: 50%;
  transition: $transition-header;

  &:hover {
    width: 100%;
    border-radius: 20px;
  }
}

.inner {
  font-size: $font-size-m;
  color: $main-text;
  position: absolute;
  top: 7px;
  left: 28px;
  //padding: 0 10px;
}